<h1>Champion List and Info.</h1>
<% @champions.each do |name| %>
  <p><%= name[1]['name'] %></p>
  <p><%= name[1]['title'] %></p>
  <img src="https://ddragon.leagueoflegends.com/cdn/7.10.1/img/champion/<%= name[1]['key']%>.png">
  <p><%= name[1]['stats']['armor'] %> Armor</p>
  <p><%= name[1]['stats']['hp'] %> Hit Points</p>
  <p><%= name[1]['stats']['movespeed'] %> movement speed</p>
  <p><%= name[1]['stats']['spellblock'] %> spellblock</p>
  <p><%= name[1]['stats']['attackdamage'] %> Attack Damage</p>
  <p><%= name[1]['blurb'] %></p>
  <p> Ally Tips <%= name[1]['allytips'] %></p>
  <p> Enemy Tips <%= name[1]['enemytips']%></p>

  <% end %>
