<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



      <%= form_tag(champions_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Champions" %>
      <%= submit_tag "Search", :name => nil %></li>

      <%= link_to "Champions","/champions" %></li>
      <%= link_to "Items",'/builds'%></li>
</ul>

    <%= yield %>
<% end %>
  </body>
</html>
